 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
 *{
   margin: 0px;
   padding: 0px;
 }
 hr{
  width: 100px;
  margin: 10px auto 10px 0px;
  height: 2px;
  background-color: #ea3f3f;
 }
 .paragraph{
   white-space: pre-line;
  
 }
 .wrapper{
  display: flex;
  padding: 30px; 
} 
body{
  color: #8b8b8b;
  width: 1440px;
  margin: 0px auto;
}
header {
  font-weight: bolder;
  font-size: 20px;
  width: 100%;
  padding: 30px;  
  color: #000;
  font-family: 'Abril Fatface', cursive;
  display: flex;
}
.headline{
  padding: 0px 30px;
}
.headline h1 {
  font-size: 70px;
  display: inline;
  font-family: 'Abril Fatface', cursive;
  word-spacing: 9px;
  color: #000;
}
ul {
  list-style-type: none;
}
li {
  line-height: 70px;
  font-size: 18px;
}
.decoration {
  text-decoration: line-through;
  text-decoration-color: red;
}
.mybutton {
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 5px;
  width: 130px;
  height: 50px;
  margin: 50px;
  border-radius: 30px;
  border: transparent;
  opacity: 0.7;
}
 
.redline{
  color: red;
}
.flex-container{
  display: flex; 
  flex-direction: column;
} 
.header{
  display: flex; 
  flex-direction: row;
}  
.gallery img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 15px;
}
.gallery{
  width: 150px;
  border-radius: 20px;
  height: 200px;
  display: table;
  padding: 5px;
  margin: 15px; 
  box-shadow: 15px 15px 35px 0px #cecccc;
}
.text{
  text-align: center;
}
.display{
 display: flex;
}
/* for laptop screen */
@media screen and (min-width:500px) {
  .file2 {
    display: none;
  }
  .cart img {
    display: none;
  }
  
}

/* for mobile screen */
@media screen and (max-width:500px){
  header{
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  body {
    width: 100%;
  }
  .paragraph {
    margin: 15px 0px;
  }
  .wrapper {
    margin-top: 40px;
  }
  .file1 {
    display: none;
  }
  .file2 {
    text-align: center;
  }
  .header{
    display: flex;
    flex-direction: column;
  }
  .headline h1 {
    font-size: 30px;
  }
  .line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: tomato;
  }
  .res-line {
    position: absolute;
    left: 5%;
    cursor: pointer;
    top: 7%;
  }
  .display{
    flex-wrap: wrap;

    justify-content: space-evenly;
  }
  .navbar {
    display: none;
  }
  .gallery img{
    width: 100px;
    height: 100px;
  }
  .gallery{
    width: 130px;
    height: 160px;
    margin: 10px; 
    
    
  }
  
  .cart img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5%;
    cursor: pointer;
    top: 7%;
  }
 .image5{
   display: none;
 }
}