 .wrapper{
  display: flex;
} 
header {
  font-weight: bolder;
  font-size: 20px;
  width: 100%;
  padding: 10px;  
}
.headline h1 {
  white-space: pre;
  font-size: 60px; 
  display: inline;
}
ul {
  list-style-type: none;
}
li {
  line-height: 70px;
  font-size: 18px;
}
.decoration {
  text-decoration: line-through;
  text-decoration-color: red;
}
.mybutton {
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 5px;
  width: 130px;
  height: 50px;
  margin: 50px;
  border-radius: 30px;
  border: transparent;
  opacity: 0.7;
}
.paragraph {
  white-space: pre-line;
}
.redline{
  color: red;
  white-space: pre;
}
.flex-container{
display: flex; 
} 
.gallery img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 15px;
}
.gallery{
  width: 150px;
  border-radius: 20px;
  height: 200px;
  display: table;
  border: 2px solid;
  padding: 5px;
  margin: 20px; 
}
.text{
  text-align: center;
}
.display{
 display: flex;
}
/* for laptop screen */
@media screen and (min-width:500px) {
  .file2 {
    display: none;
  }
  .cart img {
    display: none;
  }
  
}

/* for mobile screen */
@media screen and (max-width:500px){
  .file1 {
    display: none;
  }
  .file2 {
    text-align: center;
  }
   .flex-container{
    flex-direction: column;
    text-align: center;
   
  } 
  .line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: tomato;
  }
  .res-line {
    position: absolute;
    left: 5%;
    cursor: pointer;
    top: 7%;
  }
  .navbar {
    display: none;
  }
  .headline {
    white-space: pre;
   
  }
  .cart img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5%;
    cursor: pointer;
    top: 7%;
  }
 
}